.noticeTable {
  margin: auto;
  width: 100%;
  background-color: var(--color_box2);
  color: var(--color_text1);
  border-collapse: collapse;
  border-top: none;
}

.ntdheader {
  background-color: var(--color_p3);
  text-align: center;
}

.noticeTable td,
.noticeTable th {
  border: 1px solid var(--color_text1);
  height: 30px;
  font-size: 14px;
}

.ntdnum {
  width: 10px;
}

.ntbtitle {
  width: 80%;
}

.noticeTableWrap {
  text-align: center;
}

.noticeTableWrap .ntbtitle {
  text-align: left;
}

.noticeTableButton {
  width: 70px;
  height: 40px;
  font-size: 15px;
  border: 0;
  outline: 1.5px var(--color_p2);
  border-radius: 30px;
  padding-left: 10px;
  background-color: var(--color_p1);
  color: var(--color_text1);
}

.noticeTableButton:active {
  width: 100px;
  height: 40px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  padding-left: 10px;
}


.noTiceTableLeftdiv {
  display: flex;
  align-content: left;
  align-items: left;
  text-align: left;
  color: var(--color_text1);
  background-color: var(--color_box2);
}

.ntbButtonLine {
  border-top: 3px solid var(--color_text1);
  padding: 10px;
}
.ntbinput{
  width:60%;
  background-color: var(--color_p2);
  color: var(--color_p3);
}
.noticeTableWrap{
  display: block;
}
.noticePostWrap {
  display: none;
}